.lmo-pointer {display: none;}
button.sidebar__list-item-button.sidebar__list-item-button--start-group.md-button.md-ink-ripple {display: none;}
section.group-form__section.group-form__privacy {display: none;}
button.md-accent.group-form__advanced-link.md-button.md-ink-ripple {display: none;}
button.group-privacy-button.md-button {display: none;}
.md-block.poll-common-multiple-choice.poll-common-checkbox-option {display: none;}
button.sidebar__list-item-button--subgroup.md-button.md-ink-ripple {display: none;}
a.email-settings-page__learn-more-link {display: none;}

.lmo-one-column-layout {max-width: none;}
.explore-page__group {width:33%;min-width:300px;}