// Font
button, html, input, md-bottom-sheet .md-subheader, select, textarea {
    font-family: Open Sans,"Helvetica Neue",sans-serif!important;
}

// Cosas que queremos ocultar
.document-card.lmo-card,
.decision-tools-card__poll-type--poll, 
.decision-tools-card__poll-type--dot_vote,
.decision-tools-card__poll-type--count, 
.poll-common-checkbox-option, 
button.sidebar__list-item-button.sidebar__list-item-button--start-group.md-button.md-ink-ripple,
button.md-accent.group-form__advanced-link.md-button.md-ink-ripple, 
button.sidebar__list-item-button--subgroup.md-button.md-ink-ripple,
button.sidebar__list-item-button.sidebar__list-item-button--start-thread.md-button.md-ink-ripple,
button.sidebar__list-item-button--subgroup.md-button,
button.sidebar__list-item-button.sidebar__list-item-button--start-thread.md-button,
button.md-primary.md-raised.members-card__invite-members-btn.md-button.md-ink-ripple,
button.join-group-button__ask-to-join-group,
label[for="discussion-group-field"],
md-input-container[ng-show="showGroupSelect"],
a.email-settings-page__learn-more-link,
.discussion-form .lmo-hint-text,
.md-block.poll-common-multiple-choice.poll-common-checkbox-option, 
span.poll-common-vote-form__chosen-option--name,
h3.lmo-h3.poll-meeting-vote-form--box,
.subgroups-card__list-item-description,
.poll-tags-card__tags .lmo-hint-text,
.auth-signin-form__no-token .lmo-hint-text,
.auth-avatar__avatar,
.group-form__privacy-statement.lmo-hint-text
 {display: none!important;}


// Header
.lmo-navbar .md-toolbar-tools {background-color: #12813D!important;color: white!important;}
.navbar__sidenav-toggle {color: white!important}

// Grupos
.group-theme__name a {color: white!important;text-transform: uppercase;letter-spacing: .04em;font-weight: 800;text-shadow: 1px 1px 20px #212121;}
.group-theme__name a:hover {text-decoration: none!important;}
.poll-common-vote-form__button {border: none!important;}
.group-theme__logo {margin-top: -100px!important;filter: invert(100%) grayscale(1) brightness(2)!important;background-color: transparent!important;border: none!important;}
.group-theme__name a, .explore-page h1.lmo-h1-medium{font-weight: 800; line-height:1.25em;font-size: calc(1vw + 30px)}
.group-theme__name-and-actions {position: relative;bottom: 30px;}
button.group-privacy-button.md-button, .group-theme__name a, .group-page-actions {color:white!important;text-transform: uppercase;}
.parent-group{font-size: 80%!important;display:block;}
.subgroups-card__list-item {margin-bottom: 0;}

// Auth
.auth-email-form__email {margin-top: 20px;}
.auth-provider-form__provider, button.md-button.md-raised.google {width: 100%!important;padding: 10px!important;}
input#email {font-size: 18px;}

// Explore
md_content.lmo-main-content._md.flex {background: url('/theme/bg_asamblea.jpg') no-repeat center center fixed;}
.explore-page__search-field input {margin: 0!important;padding: 3px!important;background-color: white!important;border-radius: 60px!important;}
.explore-page__search-field label {margin: 0 10px!important;}
.explore-page__search-field {background-color: transparent!important;}
.explore-page h1.lmo-h1-medium {margin: 30px 0px!important;text-align: center!important;}
.explore-page p {text-align: justify!important;}
.explore-page__search-field i {top: 5px!important;right: 14px!important;color: black!important;}
.explore-page__group-details .explore-page__group-description {display: none;}
.explore-page__group-details .lmo-h2 {min-height: 60px;line-height: 1.3!important;}
.explore-page__group {width: 32.5%!important;min-width: 200px!important;}
.explore-page__group:first-child {width: 100%!important;}
.explore-page__group-cover {background-position: center!important;}

// isRD
i[ng-if="isRD()"] {color: green;margin-left: .4em;}
i[ng-if="isNotRD()"] {color: orange;margin-left: .4em;}

// Votaciones pasadas
.poll-common-index-card.lmo-card {display: none;}

// Privacidad de las actas
.group-form__privacy h3 {font-size: 0;margin-bottom: 10px;}
.md-checkbox--with-summary.group-form__privacy-open {display: none!important;}
.group-form__submit-button{padding: 5px 20px;margin-bottom: 15px;}

